.heuristikContainer{
  background: rgb(255, 255, 255, 0.9);
  height: 85vh;
  overflow-x: hidden;
  border-style: solid;
  margin: 10px 0px 10px 0px
}

#heuristik{
  margin: 10px 2px 10px 2px;
  padding: 5px;
}

.content{
  //height: 40vh;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
}

#titel{
  margin: 10px 0px 0px 10px;
}

.tableAddButton{
  margin: 10px 10px 10px 0px;
  max-width: 50%;
  min-width: 50%;
}

.tableRemoveButton{
  margin: 10px 10px 10px 0px;
  max-width: 50%;
  min-width: 50%;
}

table, th, td {
  border: 1px solid black;
}
table {
  width: 100%;
  margin: 10px 0px 10px 0px;
  // border-spacing: 5px;
  // padding: 5px;
  // border-spacing:3px 5px;
}

#radioButtonBlock{
  cursor: pointer;
  display: block;
  text-align: center;
}


th, td{
  text-align: center;
}

th{
  background-color: rgb(102, 196, 251);
}

#notizTextFeld{
  background-color: rgb(255, 255, 255);
}

#frage{
  margin: 8px;
}

#saveButton{
  margin: 0px 15px 15px 15px;
}
