<div class="container-fluid">
  <app-header-view></app-header-view>
  <div class="heuristikContainer">
    <div class="row">
      <div id="heuristik" class="container-fluid">

        <div *ngIf="divCounter == 0" #heu1>
          <p class="h4 mb-4 text-center">Nachvollziehbarkeit und Feedback zur Aufgabenbearbeitung</p>
              <div class="content container-fluid" *ngFor="let frage of fragenHeuristikA">
                <label class="text-center category">{{frage}}</label>
                <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

                  <ul class='likert'>
                    <li>
                      <input type="radio" class="likertValue" value=1>
                      <label>1</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=2>
                      <label>2</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=3>
                      <label>3</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=4>
                      <label>4</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=5>
                      <label>5</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=6>
                      <label>keine Antwort</label>
                    </li>
                  </ul>

                <!-- ************************************************* -->

              </div>
        </div>

        <div *ngIf="divCounter == 1" #heu2>
          <p class="h4 mb-4 text-center">Von der Flexibilität der Vorgehensweisen zur gemeinsamen Weiterentwicklung des Systems</p>
          <div class="content container-fluid" *ngFor="let frage of fragenHeuristikA">
            <label class="text-center category">{{frage}}</label>
            <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

              <ul class='likert'>
                <li>
                  <input type="radio" class="likertValue" value=1>
                  <label>1</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=2>
                  <label>2</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=3>
                  <label>3</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=4>
                  <label>4</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=5>
                  <label>5</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=6>
                  <label>keine Antwort</label>
                </li>
              </ul>

            <!-- ************************************************* -->

          </div>
        </div>

        <div *ngIf="divCounter == 2" #heu3>
          <p class="h4 mb-4 text-center">Kommunikationsunterstützung für Aufgabenbearbeitung und sozialen Austausch</p>
          <div class="content container-fluid" *ngFor="let frage of fragenHeuristikA">
            <label class="text-center category">{{frage}}</label>
            <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

              <ul class='likert'>
                <li>
                  <input type="radio" class="likertValue" value=1>
                  <label>1</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=2>
                  <label>2</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=3>
                  <label>3</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=4>
                  <label>4</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=5>
                  <label>5</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=6>
                  <label>keine Antwort</label>
                </li>
              </ul>

            <!-- ************************************************* -->

          </div>
        </div>

        <div *ngIf="divCounter == 3" #heu4>
          <p class="h4 mb-4 text-center">Aufgabengebundener Informationsaustausch für die Erleichterung geistiger Arbeit</p>
          <div class="content container-fluid" *ngFor="let frage of fragenHeuristikA">
            <label class="text-center category">{{frage}}</label>
            <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

              <ul class='likert'>
                <li>
                  <input type="radio" class="likertValue" value=1>
                  <label>1</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=2>
                  <label>2</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=3>
                  <label>3</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=4>
                  <label>4</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=5>
                  <label>5</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=6>
                  <label>keine Antwort</label>
                </li>
              </ul>

            <!-- ************************************************* -->

          </div>
        </div>

        <div *ngIf="divCounter == 4" #heu5>
          <p class="h4 mb-4 text-center">Aufgabenorganisation für die Balance zwischen Anstrengung und erlebtem Erfolg</p>
          <div class="content container-fluid" *ngFor="let frage of fragenHeuristikA">
            <label class="text-center category">{{frage}}</label>
            <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

              <ul class='likert'>
                <li>
                  <input type="radio" class="likertValue" value=1>
                  <label>1</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=2>
                  <label>2</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=3>
                  <label>3</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=4>
                  <label>4</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=5>
                  <label>5</label>
                </li>
                <li>
                  <input type="radio" class="likertValue" value=6>
                  <label>keine Antwort</label>
                </li>
              </ul>

            <!-- ************************************************* -->

          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonPrevClick();" [disabled]="divCounter == 0" >Prev</button>
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonNextClick();" [disabled]="divCounter == 4" >Next</button>
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonSaveClick();" >Save</button>
    </div>

  </div>
  <app-footer-view></app-footer-view>
</div>
