<div class="container-fluid">
  <app-header-view></app-header-view>
  <div class="heuristikContainer">
    <div class="form-row">
      <div id="heuristik" class="container-fluid" *ngFor="let heuristik of heuristikList;let i = index">
            <h4 id="titel">{{heuristik.titel }}</h4>
            <div class="content" *ngFor="let frage of heuristik.fragen;let j = index">
              <div class="form-row">
                <h5 class="text-center" id="frage">{{frage.frage}}</h5>
              </div>
              <!-- a steht hier nur für die Möglichkeit Skalen zu adden oder zu removen und hat sonst keinen Mehrwert-->
              <div *ngFor="let a of frage.anzahlAntworten; let k = index">

                <div *ngIf="frage.anzahlAntworten.length > 1">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Beschreibung</span>
                    </div>
                    <input type="text" class="form-control"  #beschreibung (focusout)= "antwortBeschreibungFocusOutFunction(k,frage, beschreibung.value)" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>

                <table>
                  <tr>
                    <th *ngFor="let item of buttonsCounter">{{item.label}}</th>
                  </tr>
                  <tr>
                    <td *ngFor="let button of buttonsCounter; let l = index">
                      <label id="radioButtonBlock" for="{{'radioButton'+i+j+k+l}}">
                        <input type="radio" class="likertValue" id="{{'radioButton'+i+j+k+l}}" required (change)= "onRadiobuttonClick(button.id,k,frage)" value={{button.id}}  name="{{'frageAntwort'+i+j+k}}">
                      </label>
                    </td>
                  </tr>
                </table>
              </div>
              <label for="exampleFormControlTextarea2">Notizen</label>
              <textarea class="form-control rounded-0" [(ngModel)]="frage.notiz" id="notizTextFeld" rows="3"></textarea>

            <div class="btn-group">
              <button type="button" class="btn btn-success btn-lg tableAddButton" (click) = "onTableAddClick(frage);"> + </button>
              <button type="button" class="btn btn-danger btn-lg tableRemoveButton" (click) = "onTableRemoveClick(frage);"> - </button>
              <button class="btn-sm btn-primary" mdbWavesEffect type="submit" (click)= "onButtonDetailsClick(heuristik, frage)">Details</button>
           </div>

          </div>
      </div>
    </div>

    <div class="row-form justify-content">
      <button type="button" class="btn btn-primary btn-lg" id="saveButton" (click) = "onButtonSaveClick();">Save</button>
    </div>
  </div>
  <app-footer-view></app-footer-view>
</div>
