<div class="container-fluid">
  <app-header-view></app-header-view>
  <div class="heuristikContainer">
    <div class="row">
      <div id="heuristik" class="container-fluid" *ngFor="let heuristik of heuristikList">
              <div class="content container-fluid" *ngFor="let fragen of heuristik.fragen">
                <label class="text-center category">{{fragen.frage}}</label>

                <!-- *******************https://codepen.io/Buttonpresser/pen/qiuIx***********************-->

                  <ul class='likert'>
                    <li>
                      <input type="radio" class="likertValue" value=1 [value]="1 ? fragen.antwort : 1">
                      <label>1</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=2>
                      <label>2</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=3>
                      <label>3</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=4>
                      <label>4</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=5>
                      <label>5</label>
                    </li>
                    <li>
                      <input type="radio" class="likertValue" value=6>
                      <label>keine Antwort</label>
                    </li>
                  </ul>

                <!-- ************************************************* -->

              </div>

      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonPrevClick();" [disabled]="divCounter == 0" >Prev</button>
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonNextClick();" [disabled]="divCounter == 4" >Next</button>
      <button type="button" class="btn btn-primary btn-lg" (click) = "onButtonSaveClick();" >Save</button>
    </div>

  </div>
  <app-footer-view></app-footer-view>
</div>
