<div class="container-fluid">
    <app-header-view></app-header-view>
    <div class="row mid-section p-3 mb-4">
      <div class="col-sm-7 text-center" id="midCol">
        <div class="buttonMenu btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-primary btn-lg menuButton" (click)= "onInterviewClick();">Starte Interview</button>
          <button type="button" class="btn btn-primary btn-lg menuButton" (click)="onErgebnisseClick();">Ergebnisse</button>
          <button type="button" class="btn btn-dark menuButton">Beenden </button>
        </div>
      </div>
      <div class="col-sm overflow-auto" id=sideText>
          <p class="h4 text-center">Beschreibung</p>
          <p class="text-xl-center description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
          </p>
      </div>
    </div>
    <app-footer-view></app-footer-view>
  </div>
