/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-scss/";

body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/AudiMax_Ruhr-Uni-Bochum_HDR_3.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}

