<div class="container-fluid">
  <app-header-view></app-header-view>
  <div class="statistikContainer container-fluid">
    <div class="formBlock">
      <div class="header">
        <h5 class="headline">Verteilung der Antworten</h5>
      </div>

      <div style="display: block">
        <canvas id="statistik" mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
        </canvas>
      </div>

    <div class="mb-4 filterFragen">
      <div class="header">
        <h5 class="headline">Antworten herausfiltern:</h5>
      </div>
      <table class="table table-bordered">
        <tr>
          <th *ngFor="let item of buttonsCounter">{{item.label}}</th>
        </tr>
        <tr>
          <td *ngFor="let item of buttonsCounter; let i = index">
              <mdb-checkbox class="checkboxBlock" [inline]="true" [default]="true" id="{{'checkbox'+i}}" (change)= "onCheckboxClick(item.id)"> </mdb-checkbox>
          </td>
        </tr>
      </table>
      <div class="header">
        <h5 class="headline">Ergebnisse der Befragung</h5>
      </div>
      <div *ngFor="let heuristikDetailview of detailviewList; let i = index">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col-md-6">Frage</th>
              <th scope="col">Heuristik</th>
              <th scope="col">Antworten</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody *ngFor="let detailview of heuristikDetailview; let j = index">
            <tr *ngIf="detailview.hide == false">
              <td>{{detailview._frageId}}</td>
              <td>{{detailview._heuristikId}}</td>
              <td>{{detailview.frageAntwort}}</td>
              <td><button class="btn-sm btn-primary" mdbWavesEffect type="submit" (click)= "onButtonDetailsClick(detailview)">Details</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  <app-footer-view></app-footer-view>
</div>
