@import "../../../node_modules/bootstrap-scss/";

.statistikContainer{
  background: rgb(255, 255, 255, 0.9);
  height: 85vh;
  overflow: auto;
  border-style: solid;
  margin: 10px 0px 10px 0px
}

.formBlock{
  margin: 5px;
}

button{
  color: white
}

#statistik{
  max-width: 75vw;
  min-width: 75vw;

  border-style: solid;
  border-width: thin;

  margin: 5px 0px 10px 5px;
  background-color: white;

}

.header{
  margin: 10px;
}

.filterFragen{
  border-style: solid;
  border-width: thin;
  background-color: white;
  margin: 5px;
  max-width: 75vw;
  min-width: 75vw;
}

.titel{
  margin: 10px 0px 10px 0px;
}

.fragen{
  margin: 10px 0px 10px 0px;
}

.btn-circle.btn {
  width: 25px;
  height: 25px;
  padding: 3px 4px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

h5{
  overflow-wrap:break-word;
}

