<div class="container-fluid">
  <app-header-view></app-header-view>
  <div class="statistikContainer">

    <div class="formBlock">
      <div class="header">
        <h5 class="headline">Nach Antwort-Wert filtern</h5>
        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="input-group input">
            <input class="form-control mr-sm-2 control" #filterZahl type="number" placeholder="Antwort-Wert">
            <span class="input-group-btn">
              <button class="btn btn-primary" mdbWavesEffect type="submit" (click) = "onButtonStatistikClick(filterZahl)">Statistik</button>
            </span>
        </div>
        </form>
      </div>
      <div style="display: block">
        <canvas id="statistik" mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
        </canvas>
      </div>

      <div *ngFor="let heuristikDetailview of detailviewList; let i = index">
        <div class="mb-4 filterFragen">
          <form class="form-inline">
          <div class="container titel form-row">
            <div class="col-9">
             <!-- <h5>{{heuristikDetailview[0].heuristikTitel}}: {{heuristikDetailview[0].heuristikTitel}}</h5> -->
            </div>
            <div class="text-right col">
              <button class="btn btn-info btn-circle pull-right" mdbWavesEffect type="submit">Info</button>
           </div>
          </div>
        </form>
        <div *ngFor="let detailview of heuristikDetailview; let j = index">
          <form class="form-inline">
            <div class="container fragen form-row">
              <div class="col-9">
                <p>{{detailview.frage}}</p>
             </div>
              <div class="text-right col">
              <button class="btn-sm btn-primary" mdbWavesEffect type="submit" (click)= "onButtonDetailsClick(detailview)">Details</button>
              </div>
            </div>
          </form>
        </div>
       </div>
      </div>
    <div>{{details}}</div>
  </div>
  </div>
  <app-footer-view></app-footer-view>
</div>
