@import "../../../node_modules/bootstrap-scss/";

.statistikContainer{
  background: rgb(255, 255, 255, 0.9);
  height: 85vh;
  overflow: auto;
  border-style: solid;
  margin: 10px 0px 10px 0px
}

.formBlock{
  margin: 5px;
}

button{
  color: white
}

#statistik{
  max-width: 75vw;
  min-width: 75vw;

  border-style: solid;
  border-width: thin;

  margin: 10px 0px 10xp 0px;
  background-color: white;

}

.header{
  margin: 10px;
}

.filterFragen{
  border-style: solid;
  border-width: thin;
  background-color: white;
  margin: 10px 0px 10px 0px;
}

.titel{
  margin: 10px 0px 10px 0px;
}

.fragen{
  margin: 10px 0px 10px 0px;
}

.btn-circle.btn {
  width: 25px;
  height: 25px;
  padding: 3px 4px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

h5{
  overflow-wrap:break-word;
}

// table, th, td {
//   border: 1px solid black;
// }
// table {
//   width: 100%;
//   margin: 10px 0px 10px 0px;
// }

// th{
//   background-color: rgb(102, 196, 251);
// }

// th, td{
//   text-align: center;
// }
table
{
  table-layout:fixed;
  width:100%;
}
th,td{
  overflow-wrap:break-word;
}

th{
  background-color: rgb(102, 196, 251);
}

#checkboxBlock{
  cursor: pointer;
  display: block;
  text-align: center;
}

