@import "../../../node_modules/bootstrap-scss/";

.top-section{
  min-height: 7vh;
  color:white;
}

.headline{
  margin: 15px;
}

li > a:hover{
  background-color: rgb(103, 103, 107);
  cursor: pointer;
}

#brand{
  font-size: 25px;
}

#verteilungAntworten{
  color: rgba($color: #eeff00ce, $alpha: 1.0)
}


